body {
	font-size: 50px;
}
#container { 
    text-align: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#container1 { 
    text-align: center;
    position: fixed;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    width: 150px;
}
label{
    margin-top: 10px;
    font-family: 'Nixie One', cursive;
    font-weight: bold;
}
#text {
	display: inline-block;
	border-right: 1px solid grey;
	font-size: 20px;
    font-family: 'Nixie One', cursive;
    font-weight: normal;
}
footer{
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    text-align: center;
 }
 i{
     padding: 20px;
     color: black;
     font-size: 25px;
 }
 .bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 1s infinite linear;
  }
  .bounce1 {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 1.5s infinite linear;
  }
  .yow {
    font-size: 40px;
    display: inline-block;
    position: relative;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @media screen and (max-width: 767px) {
    #text {
        display: inline-block;
        border-right: 1px solid black;
        font-size: 16px;
        font-family: 'Nixie One', cursive;
        font-weight: normal;
    }
    .yow{
        font-size: 30px;
    }
    }